/* compliments */

.compliments .wi {
  display: inline-block;
  transform: translate(20px, 25px) scale(0.6);
}

.compliments .wi-day-sunny {
  content: url("../modules/onecall/icons/clear.png");
  transform: translate(0, 25px);
}

.ompliments .wi-day-cloudy {
  content: url("../modules/onecall/icons/mostlysunny.png");
}

.compliments .wi-cloudy {
  content: url("../modules/onecall/icons/cloudy.png");
}

.compliments .wi-day-cloudy-windy {
  content: url("../modules/onecall/icons/mostlycloudy.png");
}

.compliments .wi-day-showers {
  content: url("../modules/onecall/icons/rain.png");
}

.compliments .wi-day-rain {
  content: url("../modules/onecall/icons/rain.png");
}

.compliments .wi-day-thunderstorm {
  content: url("../modules/onecall/icons/tstorms.png");
}

.compliments .wi-day-snow {
  content: url("../modules/onecall/icons/snow.png");
}

.compliments .wi-day-fog {
  content: url("../modules/onecall/icons/fog.png");
}

.compliments .wi-night-clear {
  content: url("../modules/onecall/icons/nt_clear.png");
  transform: translate(0, 25px) scale(1.2);
}

.compliments .wi-night-cloudy {
  content: url("../modules/onecall/icons/nt_cloudy.png");
}

.compliments .wi-night-alt-cloudy {
  content: url("../modules/onecall/icons/nt_cloudy.png");
}

.compliments .wi-night-alt-showers {
  content: url("../modules/onecall/icons/nt_rain.png");
}

.compliments .wi-night-alt-rain {
  content: url("../modules/onecall/icons/nt_rain.png");
}

.compliments .wi-night-alt-thunderstorm {
  content: url("../modules/onecall/icons/nt_tstorms.png");
}

.compliments .wi-night-alt-snow {
  content: url("../modules/onecall/icons/nt_snow.png");
}

.compliments .wi-night-alt-cloudy-windy {
  content: url("../modules/onecall/icons/nt_hazy.png");
}

.compliments .fa,
.compliments .fas,
.compliments .far {
  display: inline-block;
  transform: scale(0.75);
}