/* Weather */

.currentweather .subs {
  font-size: 50%;
}

.currentweather .wi-thermometer,
.currentweather .wi-humidity, 
.currentweather .wi-sunset, 
.currentweather .wi-sunrise,
.currentweather .fa-binoculars {
  display: inline-block;
  transform: scale(0.65);
}

.currentweather .wi-hot,
.currentweather .wi-barometer {
  transform: scale(0.75);
}

.currentweather .wi-barometer,
.currentweather .wi-thermometer {
  margin-top: 5px;
}

.onecall .currentweather .fa-tint {
  transform: translate(0, 2px) scale(0.7);
}

.onecall .currentweather .fa-tint-slash {
  transform: translate(0, 2px) scale(0.7);
  margin: 0 -10px;
}

.currentweather .xlarge {
  display: inline-block;
  transform: translate(-5px, -5px);
  letter-spacing: -5px;
  padding-right: 3px;
}

.currentweather .weathericon {
  transform: translate(0, 20px);
  height: 70px;
  float: left;
}

.currentweather .deg {
  font-size: 50%;
  font-weight: 400;
  margin-left: -30px;
}

.currentweather .bright::first-letter {
  text-transform: capitalize;
}

.currentweather .wi-day-sunny {
  content: url("icons/clear.png");
  transform: translate(0, 15px) scale(1.4);
}

.currentweather .wi-day-cloudy {
  content: url("icons/mostlysunny.png");
}

.currentweather .wi-cloudy {
  content: url("icons/cloudy.png");
}

.currentweather .wi-day-cloudy-windy {
  content: url("icons/mostlycloudy.png");
}

.currentweather .wi-day-showers {
  content: url("icons/rain.png");
}

.currentweather .wi-day-rain {
  content: url("icons/rain.png");
}

.currentweather .wi-day-thunderstorm {
  content: url("icons/tstorms.png");
}

.currentweather .wi-day-snow {
  content: url("icons/snow.png");
}

.currentweather .wi-day-fog {
  content: url("icons/fog.png");
}

.currentweather .wi-night-clear {
  content: url("icons/nt_clear.png");
  transform: translate(0, 15px) scale(1.6);
}

.currentweather .wi-night-cloudy {
  content: url("icons/nt_cloudy.png");
}

.currentweather .wi-night-alt-cloudy {
  content: url("icons/nt_cloudy.png");
}

.currentweather .wi-night-alt-showers {
  content: url("icons/nt_rain.png");
}

.currentweather .wi-night-alt-rain {
  content: url("icons/nt_rain.png");
}

.currentweather .wi-night-alt-thunderstorm {
  content: url("icons/nt_tstorms.png");
}

.currentweather .wi-night-alt-snow {
  content: url("icons/nt_snow.png");
}

.currentweather .wi-night-alt-cloudy-windy {
  content: url("icons/nt_hazy.png");
}

/* Forecast */

.weatherforecast header {
  margin-bottom: 5px;
}

.weatherforecast table {
  float: right;
  margin-bottom: 5px;
}

.daily table tr:nth-child(1) .en:nth-child(1),
.daily table tr:nth-child(2) .en:nth-child(1),
.daily table tr:nth-child(1) .ro:nth-child(1),
.daily table tr:nth-child(2) .ro:nth-child(1) {
  text-indent: -9999px;
  line-height: 0;
}

.daily table tr:nth-child(1) .ro:nth-child(1)::after {
  text-indent: 0;
  content: "Astăzi";
  display: block;
  line-height: initial;
}

.daily table tr:nth-child(2) .ro:nth-child(1)::after {
  text-indent: 0;
  content: "Mâine";
  display: block;
  line-height: initial;
}

.daily table tr:nth-child(1) .en:nth-child(1)::after {
  text-indent: 0;
  content: "Today";
  display: block;
  line-height: initial;
}

.daily table tr:nth-child(2) .en:nth-child(1)::after {
  text-indent: 0;
  content: "Tomorrow";
  display: block;
  line-height: initial;
}

.daily table tr:nth-child(1) .day:nth-child(1)::after,
.hourly table tr:nth-child(1) .day:nth-child(1) {
  color: lime;
}

.daily table tr:nth-child(2) .day:nth-child(1)::after {
  color: greenyellow;
}

.weatherforecast .day,
.weatherforecast .humidity,
.weatherforecast table tr td:nth-child(1) {
  width: 20% !important;
}

.weatherforecast .weather-icon,
.weatherforecast .dewPoint,
.weatherforecast table tr td:nth-child(2) {
  width: 15% !important;
}

.weatherforecast .max-temp,
.weatherforecast .pressure,
.weatherforecast table tr td:nth-child(3) {
  width: 20% !important;
}

.weatherforecast .min-temp,
.weatherforecast .realFeel,
.weatherforecast .visibility,
.weatherforecast table tr td:nth-child(4) {
  width: 20% !important;
}

.weatherforecast .rain,
.weatherforecast .uvIndex,
.weatherforecast table tr td:nth-child(5) {
  width: 25% !important;
}

.weatherforecast .rain, .weatherforecast .snow {
  color: lightgray;
}

.weatherforecast .fa-tint,
.weatherforecast .wi-umbrella {
  font-size: 80%;
}

.weatherforecast .fa-tint-slash {
  font-size: 75%;
}

.weatherforecast .wi-day-sunny {
  transform: translateX(-2px);
  color: gold;
}

.weatherforecast .wi-day-cloudy {
  transform: translate(0, 3px);
  color: lightblue;
}

.weatherforecast .wi-cloudy {
  transform: translateX(-1px);
  color: powderblue;
}

.weatherforecast .wi-day-cloudy-windy {
  color: skyblue;
}

.weatherforecast .wi-day-showers {
  color: skyblue;
}

.weatherforecast .wi-day-rain {
  color: deepskyblue;
}

.weatherforecast .wi-day-thunderstorm {
  color: dodgerblue;
}

.weatherforecast .wi-day-snow {
  color: snow;
}

.weatherforecast .wi-day-fog {
  color: white;
}

.weatherforecast .wi-night-clear {
  transform: translateX(-2px);
  font-size: 120%;
  color: silver;
}

.weatherforecast .wi-night-cloudy {
  color: powderblue;
}

.weatherforecast .wi-night-alt-cloudy {
  color: powderblue;
}

.weatherforecast .wi-night-showers {
  color: skyblue;
}

.weatherforecast .wi-night-alt-showers {
  color: skyblue;
}

.weatherforecast .wi-night-rain {
  color: deepskyblue;
}

.weatherforecast .wi-night-alt-rain {
  color: deepskyblue;
}

.weatherforecast .wi-night-thunderstorm {
  color: royalblue;
}

.weatherforecast .wi-night-alt-thunderstorm {
  color: royalblue;
}

.weatherforecast .wi-night-snow {
  color: snow;
}

.weatherforecast .wi-night-alt-snow {
  color: snow;
}

.weatherforecast .wi-night-alt-cloudy-windy {
  transform: translateX(-1px);
  color: skyblue;
}

.grayscale {
   filter: grayscale(100%);
}

.transparent {
  background: transparent;
}

.fade {
  color: var(--color-text-fade);
}

.shade {
  color: var(--color-text-shade);
}

.dimmed {
  color: var(--color-text-dimmed);
}

.normal {
  color: var(--color-text);
}

.bright {
  color: var(--color-text-bright);
}

.little {
  font-size: 80%;
  transform: translate(0, -1px);
}

.xsmall {
  font-size: 0.7rem;
}

.small {
  font-size: 1rem;
}

.midget {
  font-size: 1.2rem;
}

.medium {
  font-size: 1.6rem;
}

.slarge {
  font-size: 3rem;
  line-height: 1.5;
}

.large {
  font-size: 6rem;
  line-height: 1;
}

.xlarge {
  font-size: 7.4rem;
  line-height: 1;
  background: -webkit-linear-gradient(white, darkgray);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.thin {
  font-family: var(--font-secondary);
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.darkred {
  color: darkred;
}

.redrf {
  color: red;
}

.orangered {
  color: orangered;
}

.tomato {
  color: tomato;
}

.coral {
  color: coral;
}

.darkorange {
  color: darkorange;
}

.orange {
  color: orange;
}

.gold {
  color: gold;
}

.yellow {
  color: yellow;
}

.greenyellow {
  color: greenyellow;
}

.chartreuse {
  color: chartreuse;
}

.lawngreen {
  color: lawngreen;
}

.lime {
  color: lime;
}

.powderblue {
  color: powderblue;
}

.lightblue {
  color: lightblue;
}

.skyblue {
  color: skyblue;
}

.lightskyblue {
  color: lightskyblue;
}

.deepskyblue {
  color: deepskyblue;
}

.dodgerblue {
  color: dodgerblue;
}

.lightgreen {
  color: lightgreen;
}

.cyan {
  color: cyan;
}

.magenta {
  color: magenta;
}

.olive {
  color: olive;
}

.purple {
  color: purple;
}

.violet {
  color: violet;
}